{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div><strong style="background-color: {{ object.status.colour }};padding: .4em;">{{ object.status }}</strong></div>
{% endblock %}
