{% extends 'base.html.twig' %}

{% block title %}New Repair{% endblock %}

{% block body %}
    <h1>Create new Repair</h1>

    {{ include('admin/repair/_form.html.twig') }}

    <a href="{{ path('repair_index') }}">back to list</a>
{% endblock %}
