/* LOGIN LOGO */
div.login-box > div.login-logo > img {
    width: 100%;
}
/* ADMIN LOGO */
header.main-header > a.logo > img {
    max-width: 100%;
}
/* DOCUMENT LOGO */
div.document-logo > img {
    margin-bottom: 50px;
    width:100%;
}
/* FIX WIDTH INPUTS */
.input-group .input-group-addon {
    width: 1%;
}
.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th,
td.sonata-ba-list-field.sonata-ba-list-field-currency,
td.sonata-ba-list-field.sonata-ba-list-field-integer,
td.sonata-ba-list-field.sonata-ba-list-field-percent {
    text-align: center;
}
table.table-products {
    width: 20%;
    min-width: 250px;
}
table.table-products i {
    margin-right: .4em;
}
/* LOGO */
@media (max-width: 767px) {
    .skin-black .main-header .logo {
        background-color: #ffffff;
    }
    .skin-black .main-header .logo:hover {
        background-color: #fcfcfc;
    }
}
.logo img+span {
    display: none;
}