<a class="btn btn-sm btn-default" href="{{ path('report', {id: object.id}) }}">
    <i class="far fa-file"></i> Report
</a>
<a class="btn btn-sm btn-default" href="{{ path('invoice', {id: object.id}) }}">
    <i class="fas fa-file-invoice-dollar"></i> Invoice
</a>