<p>
    <img width="15%" src="{{ email.image('@images/logo-slogan.png') }}" alt="SATRepairCRM Logo">
</p>

<div>
    <p>Repair status ({{ message.code }}) has been updated to <u><b>{{ message.status }}</b></u></p>
    <a href="{{ url('tracker_index') }}">Check your repair here</a>
</div>

<p>
    <i>This e-mail is automatic. Please do not reply to it.</i>
</p>